In [1]:
import pandas as pd
import sys
import numpy as np

In [2]:
# Pandas display options
pd.set_option('display.max_columns', None)

In [3]:
books = pd.read_csv('../data/books.csv')
books

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher;;;
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9.780440e+12,eng,652.0,2095690.0,27591.0,9/16/2006,Scholastic Inc.;;;
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9.780439e+12,eng,870.0,2153167.0,29221.0,9/1/2004,Scholastic Inc.;;;
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9.780440e+12,eng,352.0,6333.0,244.0,11/1/2003,Scholastic;;;
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.780440e+12,eng,435.0,2339585.0,36325.0,5/1/2004,Scholastic Inc.;;;
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9.780440e+12,eng,2690.0,41428.0,164.0,9/13/2004,Scholastic;;;
...,...,...,...,...,...,...,...,...,...,...,...,...
11122,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.781560e+12,eng,512.0,156.0,20.0,12/21/2004,Da Capo Press;;;
11123,45633,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9.780140e+12,eng,635.0,783.0,56.0,12/1/1988,Penguin Books;;;
11124,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9.780140e+12,eng,415.0,820.0,95.0,8/1/1993,Penguin Books;;;
11125,45639,Poor People,William T. Vollmann,3.72,0060878827,9.780061e+12,eng,434.0,769.0,139.0,2/27/2007,Ecco;;;
11126,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.788498e+12,spa,272.0,113.0,12.0,5/28/2006,Edimat Libros;;;

In [4]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  object
 1   title               11098 non-null  object
 2   authors             11098 non-null  object
 3   average_rating      11098 non-null  float64
 4   isbn                11098 non-null  object
 5   isbn13              11098 non-null  float64
 6   language_code       11098 non-null  object
 7     num_pages         11098 non-null  float64
 8   ratings_count       11098 non-null  float64
 9   text_reviews_count  11098 non-null  float64
 10  publication_date    11098 non-null  object
 11  publisher;;;        11098 non-null  object
dtypes: float64(5), object(7)
memory usage: 1.0+ MB

In [5]:
books_2 = books.dropna(subset=['isbn13'])
books_2.head(3)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher;;;
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9.780440e+12,eng,652.0,2095690.0,27591.0,9/16/2006,Scholastic Inc.;;;
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9.780439e+12,eng,870.0,2153167.0,29221.0,9/1/2004,Scholastic Inc.;;;
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9.780440e+12,eng,352.0,6333.0,244.0,11/1/2003,Scholastic;;;

In [6]:
books_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11098 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11098 non-null  object
 1   title               11098 non-null  object
 2   authors             11098 non-null  object
 3   average_rating      11098 non-null  float64
 4   isbn                11098 non-null  object
 5   isbn13              11098 non-null  float64
 6   language_code       11098 non-null  object
 7     num_pages         11098 non-null  float64
 8   ratings_count       11098 non-null  float64
 9   text_reviews_count  11098 non-null  float64
 10  publication_date    11098 non-null  object
 11  publisher;;;        11098 non-null  object
dtypes: float64(5), object(7)
memory usage: 1.1+ MB

In [ ]:
#print(list(books_2['ISBN 13']))

In [ ]:
#print(list(books_2['Author']))

In [ ]:
#print(list(books_2['Book title']))

In [ ]:
#print(list(books_2['Publisher']))

In [ ]:
#print(list(books_2['publication_date']))

In [ ]:
#print(list(books_2['Nº of pages']))

In [ ]:
#print(list(books_2['Average rating']))

In [ ]:
#print(list(books_2['ISBN 13']))

In [ ]:
#print(list(books_2['Language']))

In [7]:
list(books_2.columns)

['bookID',
 'title',
 'authors',
 'average_rating',
 'isbn',
 'isbn13',
 'language_code',
 '  num_pages',
 'ratings_count',
 'text_reviews_count',
 'publication_date',
 'publisher;;;']

In [8]:
books_2['ISBN 13'] = books_2['isbn13'].astype(str)
books_2['ISBN 13'] = books_2['ISBN 13'].str.split(".", 
    expand = True)[0]
books_2['Author'] = books_2['authors'].str.split("/", 
    expand = True)[0]
books_2['Nº of pages'] = books_2['  num_pages'].astype(int)
books_2['Nº of ratings'] = books_2['ratings_count'].astype(int)
books_2['Nº of reviews'] = books_2['text_reviews_count'].astype(int)
books_2['Publication date'] = pd.to_datetime(books_2['publication_date'])
books_2.head(3)

C:\Users\Marguis\AppData\Local\Temp\ipykernel_2300\3155243513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_2['ISBN 13'] = books_2['isbn13'].astype(str)
C:\Users\Marguis\AppData\Local\Temp\ipykernel_2300\3155243513.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_2['ISBN 13'] = books_2['ISBN 13'].str.split(".",
C:\Users\Marguis\AppData\Local\Temp\ipykernel_2300\3155243513.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_2['Author'] = books_2['authors'].str.split("/",
C:\Users\Marguis\AppData\Local\Temp\ipykernel_2300\3155243513.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_2['Nº of pages'] = books_2['  num_pages'].astype(int)
C:\Users\Marguis\AppData\Local\Temp\ipykernel_2300\3155243513.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_2['Nº of ratings'] = books_2['ratings_count'].astype(int)
C:\Users\Marguis\AppData\Local\Temp\ipykernel_2300\3155243513.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_2['Nº of reviews'] = books_2['text_reviews_count'].astype(int)
C:\Users\Marguis\AppData\Local\Temp\ipykernel_2300\3155243513.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books_2['Publication date'] = pd.to_datetime(books_2['publication_date'])

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher;;;,ISBN 13,Author,Nº of pages,Nº of ratings,Nº of reviews,Publication date
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9.780440e+12,eng,652.0,2095690.0,27591.0,9/16/2006,Scholastic Inc.;;;,9780439785969,J.K. Rowling,652,2095690,27591,2006-09-16
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9.780439e+12,eng,870.0,2153167.0,29221.0,9/1/2004,Scholastic Inc.;;;,9780439358071,J.K. Rowling,870,2153167,29221,2004-09-01
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9.780440e+12,eng,352.0,6333.0,244.0,11/1/2003,Scholastic;;;,9780439554893,J.K. Rowling,352,6333,244,2003-11-01

In [9]:
books_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11098 entries, 0 to 11126
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11098 non-null  object
 1   title               11098 non-null  object
 2   authors             11098 non-null  object
 3   average_rating      11098 non-null  float64
 4   isbn                11098 non-null  object
 5   isbn13              11098 non-null  float64
 6   language_code       11098 non-null  object
 7     num_pages         11098 non-null  float64
 8   ratings_count       11098 non-null  float64
 9   text_reviews_count  11098 non-null  float64
 10  publication_date    11098 non-null  object
 11  publisher;;;        11098 non-null  object
 12  ISBN 13             11098 non-null  object
 13  Author              11098 non-null  object
 14  Nº of pages         11098 non-null  int32
 15  Nº of ratings       11098 non-null  int32
 16  Nº of reviews       11098 non-null  int32
 17  Publication date    11098 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int32(3), object(9)
memory usage: 1.5+ MB

In [15]:
books_3 = books_2[['ISBN 13', 'title', 'Author', 'Nº of pages', 'Publication date', 
                   'average_rating', 'Nº of ratings', 'Nº of reviews']]
books_3.head(3)

,ISBN 13,title,Author,Nº of pages,Publication date,average_rating,Nº of ratings,Nº of reviews
0,9780439785969,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,652,2006-09-16,4.57,2095690,27591
1,9780439358071,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,870,2004-09-01,4.49,2153167,29221
2,9780439554893,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,352,2003-11-01,4.42,6333,244

In [16]:
books_3.columns = ['ISBN 13', 'Book title', 'Author', 'Nº of pages', 
    'Publication date', 'Rating', 'Nº of ratings', 'Nº of reviews']
books_3.head()

,ISBN 13,Book title,Author,Nº of pages,Publication date,Rating,Nº of ratings,Nº of reviews
0,9780439785969,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,652,2006-09-16,4.57,2095690,27591
1,9780439358071,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,870,2004-09-01,4.49,2153167,29221
2,9780439554893,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,352,2003-11-01,4.42,6333,244
3,9780439655484,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,435,2004-05-01,4.56,2339585,36325
4,9780439682589,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling,2690,2004-09-13,4.78,41428,164

In [18]:
#list(books_3.columns)

In [ ]:
"""
#books_2 = books[books['ISBN 13'].notna()]
#books_4 = books_3.dropna(subset=['Nº of pages'])
#books_2 = books.dropna(subset=['ISBN 13'])
#books_2.head()
#books_3 = books_2.fillna(0)
#books_3
"""

In [ ]:
"""
#books_3['ISBN 13'].apply(np.ceil)
#books_3.loc['ISBN 13'] = books_3['ISBN 13'].astype(str)
#books_3.head()
"""

In [ ]:
"""
books_3.loc['ISBN 13'] = books_3['ISBN 13'].astype(float).astype(int)
books_3.loc['Nº of pages'] = books_3['Nº of pages'].astype(float).astype(int)
books_3.loc['Nº of ratings'] = books_3['Nº of ratings'].astype(float).astype(int)
books_3.loc['Nº of reviews'] = books_3['Nº of reviews'].astype(float).astype(int)
books_3.head()
"""

In [19]:
books_3.to_csv('../data/books_clean.csv')